<%= image_tag "url.png" %>

<div class= "text-center">
  <div class="brand-box">
    <%= image_tag "logo-white.png" %>
    <h2>Partagez vos meilleurs restaurants <br> entre amis</h2>
  </div>
  <div class="sign-box">
    <%= render "devise/shared/links" %>
  </div>
</div>