<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <h2>S'inscrire</h2>


      <%= link_to "Connect with Facebook", user_omniauth_authorize_path(:facebook) %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>