<%= image_tag "beta.png", id: "beta" %>

<div class= "text-center">
  <div class="brand-box">
    <%= image_tag "logo-white.png" %>
    <h2>Les restos préférés<br> de vos amis</h2>
  </div>
  <div class="sign-box">
    <%= render "devise/shared/links" %>
  </div>
</div>
