<%= image_tag "beta.png", id: "beta" %>

<div class= "text-center">
  <div class="brand-box">
    <%= image_tag "identite-finale.svg" %>
    <h2>Les restos préférés<br> de vos amis</h2>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <%= link_to 'Politique de confidentialité', page_path('confidentialite') %>
  <div class="sign-box">
    <%= render "devise/shared/links" %>
  </div>
</div>
