<div class="logo">
	<%= image_tag "needl-logo.png" %>
</div>

<div class="title">
	<h2>Improvisez une bonne soirée</h2>
</div>

<div class="socialDiv">
	<div class="left">
		<a href="https://itunes.apple.com/fr/app/id1027312535">
			<%= image_tag "apple_logo.png" %>
			<button type="button" class="apple-button">Par ici !</button>
		</a>
	</div>
	<div class="right">
		<%= image_tag "android_logo.png" %>

		<div class= "form">
			<form action='/subscribers' class="form-inline" method="post">
				<input name="email" type="text" class="form-input" placeholder="votre email">
				<input type="submit" value="A venir !" class="android-button">
			</form>
			<p id="message">Etre averti du lancement sur Androïd</p>
		</div>
	</div>

	<div class="facebook-connect">
		<%= render "devise/shared/links" %>
	</div>

	<script>
		$(document).ready(function() {
			if (window.location.search.indexOf('subscribed=true') > -1) {
				$('#message').html('Nous faisons au plus vite !');
			}
		});
	</script>