Salut <%= @contact_name %>,
<br>
<br>
<%= @user.name.split(" ")[0] %> t'invite à <a href = "http://www.needl.fr/" target = "_blank">découvrir ses restaurants préférés sur Needl !</a>
<br>
<br>
On espère que ça t'aidera à y voir plus clair dans la jungle parisienne !
<br>
<br>
Salut,
<br>
<br>
L'équipe Needl