Salut <%= @user.name %>,
<br>
<br>
Tu peux réinitialiser ton mot de passe en cliquant sur ce <a href = "http://www.needl.fr/change_password?user_token=<%=@user.authentication_token%>" target = "_blank"> lien.</a>
<br>
N'hésites pas à nous contacter si ton problème persiste.
<br>
<br>
A bientôt,
<br>
<br>
Valentin
