Hello <%= @user.name.split(" ")[0] %>,
<br>
<br>
Bienvenue !
<br>
<br>
Je m'appelle Valentin, je suis le fondateur de Needl et je suis très heureux que tu nous aies choisi pour découvrir de nouvelles adresses.
<br>
<br>
Via cette app tu vas pouvoir retrouver les restaurants préférés de tes amis (gastronomes ou non), partager les tiens et garder en mémoire ceux où tu aimerais aller. En appoint, on te propose une sélection de valeurs sûres qui font l'unanimité auprès des blogueurs culinaires, professionnels et passionnés de la restauration.
<br>
<br>
Nous t'enverrons également un compte rendu toutes les deux semaines pour te faire remonter les coups de coeur dénichés par tes amis qui auraient pu t'échapper. Enfin si tu le souhaites !
<br>
Tu peux d'ores et déjà inviter tes amis sur Needl en
<a href="mailto:?subject=On s'y met ?&body=Hey,%0D%0DPetit message pour te dire que j'ai découvert cette app, www.needl.fr, pour partager ses restos entre amis. Je viens de remplir les miens, ça serait trop bien que tu mettes les tiens !%0D%0DA plus">cliquant ici pour leur faire profiter de tes meilleures adresses</a>
<br>
<br>
Si t'as une question ou une remarque, envoie-les moi à cette adresse, je serai ravi de te répondre !
<br>
<br>
A bientôt,
<br>
Valentin
<br>
<br>
PS: <a href = "https://www.instagram.com/needlapp/" target = "_blank">Si on n'est pas encore connectés sur Instagram, viens nous rendre visite</a>. Bien sûr tu peux aussi nous retrouver sur <a href = "https://twitter.com/needlapp" target = "_blank">Twitter</a> et <a href = "https://www.facebook.com/getneedl/" target = "_blank">Facebook</a> !




