Salut <%= @user.name.split(" ")[0] %>,
<br>
<br>
Bienvenue sur Needl!
<br>
<br>
On a essayé de capter ton attention dans les journaux, sur Facebook, Instagram, Twitter... On est même allé sur Google + pour toi ! Nan, je rigole, quand même pas.
<br>
<br>
Je m'appelle Valentin, je suis le fondateur de Needl et je suis très heureux que tu sois là.
<br>
Je vais t'envoyer 3 mails dans les dix prochains jours pour t'aider à bien prendre en main l'app. Je t'enverrai ensuite un compte rendu toutes les deux semaines pour te faire remonter les bons restos dénichés par tes amis qui auraient pu t'échapper. Enfin si tu veux, hein!
<br>
Tu peux d'ores et déjà inviter tes amis en
<a href="mailto:?subject=On s'y met ?&body=Hey,%0D%0DPetit message pour te dire que j'ai découvert cette app, www.needl.fr, pour partager ses restos entre amis. Je viens de remplir les miens, ça serait trop bien que tu mettes les tiens !%0D%0DA plus">cliquant ici pour leur faire profiter de tes bons plans</a>
<br>
<br>
Si t'as une question ou une remarque, envoies les moi à cette adresse, je réponds toujours :)
<br>
<br>
A plus,
<br>
Valentin
<br>
<br>
PS: <a href = "https://www.instagram.com/needlapp/" target = "_blank">Si on n'est pas encore connectés sur Instagram, viens nous rendre visite</a>. Bien sûr tu peux aussi nous retrouver sur <a href = "https://twitter.com/needlapp" target = "_blank">Twitter</a> et <a href = "https://www.facebook.com/getneedl/" target = "_blank">Facebook</a> !




