Hello <%= @user.name.split(" ")[0] %>,
<br>
<br>

Enfin tu nous rejoins !
<br>
On a essayé de capter ton attention dans les journaux, sur Facebook, Instagram, Twitter. On est même allé sur Google + pour toi ! Nan, je rigole, quand même pas.
<br>
<br>
Je m'appelle Valentin, je suis le fondateur de Needl et je suis très heureux que tu sois là.
Je t'enverrai des petits messages de temps en temps pour te faire remonter les bons restos dénichés par tes amis qui auraient pu t'échapper. Enfin si tu veux, hein!

Si tu penses que ça peut intéresser certains de tes potes, et nous épargner de ce fait un rude labeur,
<a href="mailto:nicolas.debonneuil@hec.edu?subject=Ca rendrait service a tout le monde&body=Hey,%0D%0DPetit message pour te dire que je viens de mettre mes restos sur cette app, www.needl.fr. Je te conseille de faire un tour sur les restos de mon profil et de t'en inspirer, si tu vois ce que je veux dire ..%0D%0DA plus">clique ici pour les inviter à te partager leurs bons plans</a>


<br>
<br>
Si t'as une question ou une remarque, envoies moi un mail à cette adresse, je finis toujours par répondre :)
<br>
<br>
A plus,
<br>
Valentin
<br>
<br>
<!-- Mettre des liens -->
PS: <a href = "https://www.instagram.com/needlapp/" target = "_blank">Si on n'est pas encore connectés sur Instagram, viens me rendre visite</a>. Bien sûr tu peux aussi me retrouver sur <a href = "https://twitter.com/needlapp" target = "_blank">Twitter</a> et <a href = "https://www.facebook.com/getneedl/" target = "_blank">Facebook</a> !




