#recommendations_index {
  font-size: 14px;
  .list-group-item {
    min-height: 100px;
  }
  .profil {
    text-align: center
    img {
      margin-bottom: 5px;
      margin-right: auto;
      margin-left: auto;
    }
    p {
      font-weight: 700;
    }
  }

  .activity-bloc {
    padding-left: 15px;
    a {
      text-decoration: none;
      color: $red;
      &:hover {
        color: $gray;
      }
    }
  }
}