h1.force-padding {
  padding-bottom: 20px;
}
#recommendations_index {
  p {
    margin: 0;
  }

  .container {
    padding: 0;
    font-size: 14px;
  }
  .list-group-item {
    min-height: 100px;
    padding : 20px;
    margin-top: 0;
    border-radius: 0;
    border-right: 0;
    border-left: 0;
  }
  .col-fix-left {
    float:left;
    width:50px;
  }
  .col-fix-right {
    float:left;
    width:calc(100% - 50px);
  }
  .profil {
    text-align: center
    img-circle {
      width: 100%;
      margin: 0 !important;
    }
    p {
      font-weight: 700;
    }
  }
  #image_field #text-right {
    bottom: 20px;
  }

  .activity-bloc {
    a {
      text-decoration: none;
      color: $red;
      &:hover {
        color: $gray;
      }
    }
  }

  .reco-bloc {
    padding: 0 20px 20px 20px;
  }

  span.quote-start {
    width: 23px;
    height: 20px;
    display: block;
    float: left;
    margin-top:20px;
    background: image-url('quote-start.png') left no-repeat;
  }
  span.quote-end {
    width: 23px;
    height: 20px;
    display: block;
    float: left;
    margin-top:20px;
    background: image-url('quote-end.png') right no-repeat;
  }
  .quote {
    float: left;
    padding: 10px;
    background-color: #F2F2F2;
    border-radius: 5px;
    position: relative;
    text-align: left;
    margin-left: 15px;
    min-width: calc(100% - 20px);
  }
  .end-quote-arrow {
    background-color: #F2F2F2;
    height: 15px;
    width: 15px;
    position: absolute;
    top: 17px;
    left: -5px;
    transform: rotate(45deg);
  }
  .quote-name-date {
    color: #AAA;
    font-size: 12px;
    margin-top: 5px;
    display: block;
  }
}

