#friendships_index {
  .card-white-mini {
    width:100%;
    p {
      margin-bottom: 20px;
    }
    img {
      width: 100px;
      margin-left: auto;
      margin-right: auto;
      margin: 0 auto;
      padding: 20px 0 10px 0;
    }
  }
  .button-refuse, .button-accept {
    width: 100%;
    border: none;
    color: white;
    padding: 10px;
    font-size: 14px;
  }
  .button-accept {
    background-color: #38E1B2;
    border-radius: 0 0 4px 0;
  }
  .button-refuse {
    background-color: #AAA;
    border-radius: 0 0 0 4px;
  }
  .recos {
    font-size:12px;
    color: #38E1B2;
  }
  h1 {
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
  }
  .button-add {
    position: absolute;
    top: 22px;
    right: 20px;
    width: 100%;
    text-align: right;
  }
  #link_to_add {
    color: white;
    background-color: #EF582D;
    padding: 7px;
    border-radius: 8%;
    text-decoration: none;
    margin-left: 33%;
    border-radius: 20px;
    padding: 10px 19px;
    width: auto;
  }
  .friend{
    padding: 20px;
    margin-top: 5px;
    img {
      width: 60px;
      float: left;
      border-radius: 100%;
      margin-bottom: 0;
    }
    p {
      font-size: 14px;
      margin-left: 20px;
      display: inline-block;
      color: white;
      background-color: #EF582D;
      padding: 7px;
      border-radius: 8%;
      text-decoration: none
    }
    h2 {
      font-size: 18px;
      float: left;
      padding: 8px 20px;
      margin-top: 0;
      margin-bottom: 0;
      span {
        font-size: 14px;
        color: #AAA;
        font-weight: normal;
      }
    }
  }
}
