#friendships_index {
  .friend{
    position: relative;
    .delete {
      position: absolute;
      top: 30px;
      right: 30px;
    }
    .visibility {
      position: absolute;
      top: 90px;
      right: 30px;
      .btn-xs {
        border-color: transparent;
      }
    }
    img {
      padding: 25px 10px;
      width: 100px;
    }
    p {
      font-size: 14px;
      color: $green;
    }
    h2 {
      font-size: 18px;
      padding-top: 10px;
    }
  }
}
