#reco-bg {
  background-image: asset-url("food.jpg");
  width: 100%;
 img {
     filter: type(value);
     -webkit-filter: type(value);
     -moz-filter: type(value);
     -ms-filter: type(value);
     -o-filter: type(value);
  }
}