#restaurants_show {
  #image_field {
    height: 400px;
    top: 0;
    margin-top: 0;
    position: relative;
  }

  #ambiences {
    height: 200px;
    background-color: white;
  }
  #strengths {
    height: 300px;
    background-color: #EEEEEE;
  }
  #mots_de_la_fin {
    height: 200px;
    background-color: white;
  }

}