html {
  height: 100%;
}
#devise_sessions_new, #registrations_new {
  margin: 0;
  height: 100%;
  display: block;
  .wrap {
    background: image-url('home-background.png') center center;
    height: 100% !important;
  }
  background-color: $red;
  // height: 100%;
  h2 {
    color: white;
    font-weight: 300;
  }
  .brand-box {
    padding: 20px;
    width: 100%;
    position: absolute;
    top: calc(50% - 100px);
    img {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .footer {
    display: none;
  }
  .flash-box {
    display: none;
  }

  img#beta {
    transform: rotate(-40deg);
    position: fixed;
    top: 20px;
    left: -120px;
  }
  .sign-box {
    position: fixed;
    bottom: -22px;
    width: 100%;
    left: 0;
    a {
      height: 60px;
      line-height: 20px;
      display: block;
      width: 100%;
      padding: 20px;
    }
  }
}

