#users_show {
  a:hover, a:focus {
    text-decoration: none;
    color: white;
  }
  .user-reco-carousel {
      padding: 20px;
      background-color: white;
  }
      .user-reco-carousel.strong {
        background: #F2F2F2;
      }
  #img-profil {
    margin: auto;
    width: 150px;
  }
  .container {
    padding: 0;
  }
  .card-white {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 100%;
    .text-center {
      margin:0;
    } 
  }
  .card-white.new {
    padding: 20px 20px 10px 20px;
    background-color: #F2F2F2;
  }
  .card-white.dark {
    background-color: #333;
  }
  #profil {
    background-color: white;
    border-radius: 2px;
    position: relative;
    img {
      border-radius: 0;
      width: 100%;
    }
    .profil-info {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
    h2 {
      margin: 0px;
      text-align: left;
      padding: 20px 20px 10px 20px;
      position: absolute;
      bottom: 40px;
      color: #FFF;
    }
    p {
      text-align: left;
      padding: 0 20px 20px 20px;
      margin: 0;
      position: absolute;
      bottom: 0;
      color: #FFF;
    }
    .action-btn {
      position: absolute;
      right: 15px;
      border: 0;
      bottom: 15px;
      text-align: right;
      .btn-xs.btn-right {
        margin: 0;
        padding: 3px 10px !important;
        border-radius: 15px !important;
      }
    }
  }

  .slick_icon img {
    margin-left: auto;
    margin-right: auto;
  }

  .img_friend {
    width: 75px;
    height: 75px;
  }
  h2.section-title {
          padding-top: 10px;
          padding-bottom: 10px;
          color: #222222;
          font-size: 20px;
          font-weight: 400;
          text-align: center;
          margin: 0;
      }
  .slick-slider {
    margin: 10px 0;
  }
}

