#users_show {
  #img-profil {
    margin: auto;
    width: 150px;
  }
  .container {
    padding: 0;
  }
  .card-white {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0 20px;
  }
  #profil {
    background-color: white;
    border-radius: 2px;
    margin-top: 20px;
    h2 {
      margin: 0px;
    }
  }

  .btn {
    margin-bottom: 20px;
  }
  .slick_icon img {
    margin-left: auto;
    margin-right: auto;
  }

  .img_friend {
    width: 75px;
    height: 75px;
  }
}

