#users_welcome_ceo {
  background-color: $red;
  .message {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 100px;
    margin-bottom: 100px;
    #img-profil {
      margin: auto;
      width: 100px;
    }
  }
}