<%= form_tag('/users/update_password', method: "post", class: "password_form") do %>
  <input name="user_token" type="hidden" value="<%= @user.authentication_token %>" />
  <label for="password">Nouveau mot de passe</label>
  <%= password_field_tag(:password) %>
  <label for="password_confirmation">Confirmer votre nouveau mot de passe</label>
  <%= password_field_tag(:password_confirmation) %>
  <input type="submit" value="Submit">
<% end %>
