<h1>Assistance</h1>
<div style="padding-left:25px;">
  <br>
  <p>
    Needl est la première plateforme de bouche à oreille à rester exclusivement dans le cercle amical. Si vous avez le moindre problème avec le site ou l'application, envoyez-nous un mail à  valentin.menard@needlapp.com et nous tâcherons d'être le plus réactif possible. Bonne utilisation!
  </p>
</div>