
  <h1>Politique de confidentialité</h1>
<div style="padding-left:25px;">
  <br>
  <p>
    Devant le développement des nouveaux outils de communication, il est nécessaire de porter une attention particulière à la protection de la vie privée. C'est pourquoi, nous nous engageons à respecter la confidentialité des renseignements personnels que nous collectons.
  </p>

  <h3>Collecte des renseignements personnels</h3>
  <p>
  Nous collectons les renseignements suivants :
    Nom,
    Prénom,
    Adresse électronique,
    Genre / Sexe,
    Préférences (musicales, littéraires, cinématographiques, etc.).
  Les renseignements personnels que nous collectons sont recueillis au travers de formulaires et grâce à l'interactivité établie entre vous et notre site Web. Nous utilisons également, comme indiqué dans la section suivante, des fichiers témoins et/ou journaux pour réunir des informations vous concernant.
  </p>
  <h3>Formulaires  et interactivité</h3>
  <p>
  Vos renseignements personnels sont collectés par le biais de formulaire, à savoir le
  formulaire d'inscription au site Web.
  Nous utilisons les renseignements ainsi collectés pour les finalités suivantes :
    Présentation du site web.
  Vos renseignements sont également collectés par le biais de l'interactivité pouvant s'établir entre vous et notre site Web et nous utilisons les renseignements ainsi collectés pour les finalités suivantes :
    Commentaires.
  </p>
  <h3>Fichiers journaux et témoins</h3>
  <p>
  Nous recueillons certaines informations par le biais de fichiers journaux (log file) et de fichiers témoins (cookies). Il s'agit principalement des informations suivantes :
  Système d'exploitation,
  Pages visitées et requêtes,
  Heure et jour de connexion.

  Le recours à de tels fichiers nous permet une
  amélioration du service et accueil personnalisé.
  </p>
  <h3>Droit d'opposition et de retrait</h3>
  <p>
  Nous nous engageons à vous offrir un droit d'opposition et de retrait quant à vos renseignements personnels.
  Le droit d'opposition s'entend comme étant la possiblité offerte aux internautes de refuser que leurs renseignements personnels soient utilisées à certaines fins mentionnées lors de la collecte.
  Le droit de retrait s'entend comme étant la possiblité offerte aux internautes de demander à ce que leurs renseignements personnels ne figurent plus, par exemple, dans une liste de diffusion.
  Pour pouvoir exercer ces droits, vous pouvez :
  Code postal : 1 avenue bernard hirsch, Cergy Pontoise 95021;
  Courriel : valentin.menard@needlapp.com
  </p>

  <h3>Droit d'accès</h3>
  <p>
  Nous nous engageons à reconnaître un droit d'accès et de rectification aux personnes concernées désireuses de consulter, modifier, voire radier les informations les concernant.
  L'exercice de ce droit se fera :
  Code postal : 1 avenue bernard hirsch, Cergy Pontoise 95021;
  Courriel : valentin.menard@needlapp.com
  </p>

  <h3>Sécurité</h3>

  <p>
  Les renseignements personnels que nous collectons sont conservés dans un environnement sécurisé. Les personnes travaillant pour nous sont tenues de respecter la confidentialité de vos informations.
  Pour assurer la sécurité de vos renseignements personnels, nous avons recours aux mesures suivantes :
  Gestion des accès - personne autorisée,
  Gestion des accès - personne concernée,
  Développement de certificat numérique,
  Identifiant / mot de passe,
  Pare-feu (Firewalls).
  Nous nous engageons à maintenir un haut degré de confidentialité en intégrant les dernières innovations technologiques permettant d'assurer la confidentialité de vos transactions. Toutefois, comme aucun mécanisme n'offre une sécurité maximale, une part de risque est toujours présente lorsque l'on utilise Internet pour transmettre des renseignements personnels.
  </p>

  <h3>Nous contacter</h3>

  <p>Si vous avez la moindre question concernant cette politique de confidentialité, vous pouvez nous contacter à l'adresse suivante.
  valentin.menard@essec.edu</p>

  </p>
</div>