/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */

body {
  margin-bottom: 60px;
  margin-top: 0px;
  background-color: $gray-lighter;
}

 h1 {
  color: $red;
  font-size: 22px;
  font-weight: bold;
  padding: 20px 20px 0 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
 }

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

.clear {
  clear: both;
}