/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */

body {
  margin-bottom: 70px;
  margin-top: 0px;
  background-color: $gray-lighter;
}

 h1 {
  color: $red;
  background-color: white;
  height: 50px;
  font-size: 28px;
  padding-left: 20px;
  padding-top: 10px;
  margin-top: 0px;
  text-align: center;
 }

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

.clear {
  clear: both;
}