.footer {
 background: $red;
 position: fixed;
 z-index: 9;
 bottom: 0;
 left: 0;
 right: 0;
 height: 60px;
 text-align: center;
 .div-footer {
    position: relative;
    float: left;
    width: 20%;
    text-align: center;
    a {
     color: white;
     font-size: 10px;
     text-decoration: none;
    }
    .badge {
      position: absolute;
      left: 58%;
      font-size: 10px;
      font-weight: 400;
      border-radius: 50%;
      background-color: $gray-lighter;
      color: $red;
      top: 3px;
      width: 20px;
      height: 20px;
      text-align: center;
      padding: 5px 7px;
    }
    .nav-icone {
      height: 50px;
      margin-top: 10px;
      opacity: 0.5;
      img {
        height: 50%;
        margin: auto;
      }
      p {
        margin-top: 4px;
        font-weight: bold;
      }
    }
  }
}

.add-new-restaurant {
  width: 40px;
  height: 40px;
  margin: auto;
  border-radius: 20px;
  background: #FFF;
  img {
    padding: 10px 0;
    height: 40px !important;
  }
}



#users_show {
  .nav-profil {
    opacity: 1;
  }
}

#recommendations_index {
  .nav-notif {
    opacity: 1;
  }
}

#recommendations_new {
  .nav-reco {
    opacity: 1;
  }
}

#friendships_new {
  .nav-friend {
    opacity: 1;
  }
}

#restaurants_index {
  .nav-home {
    opacity: 1;
  }
}
