.footer {
 background: $red;
 position: fixed;
 z-index: 9;
 bottom: 0;
 left: 0;
 right: 0;
 height: 60px;
 text-align: center;
 .div-footer {
    float: left;
    width: 20%;
    text-align: center;
    a {
     color: white;
     font-size: 10px;
     text-decoration: none;
    }
    .nav-icone {
      height: 50px;
      margin-top: 10px;
      opacity: 0.5;
        img {
          height: 50%;
          margin: auto;
        }
     }
  }
}

.footer_bis {
 background: $red;
 position: fixed;
 z-index: 9;
 bottom: 0;
 left: 0;
 right: 0;
 height: 60px;
 text-align: center;
 padding-top: 5px;
 .container {
 padding-left: 0px;
 padding-right: 0px;
}
 a {
  color: white;
  font-size: 10px;
  text-decoration: none;
 }
 img {
   height: 50%;
   margin: auto;
   display: block;
  }
 .nav-icone {
   height: 50px;
     margin-top: 10px;
     opacity: 0.5;
  }
}

#users_show {
  .nav-profil {
    opacity: 1;
  }
}

#recommendations_index {
  .nav-notif {
    opacity: 1;
  }
}

#recommendations_new {
  .nav-reco {
    opacity: 1;
  }
}

#friendships_new {
  .nav-friend {
    opacity: 1;
  }
}

#restaurants_index {
  .nav-home {
    opacity: 1;
  }
}