<div class="logo">
  <%= image_tag "identite-finale.png" %>
</div>

<div class="title">
  <h2>Découvrez les restaurants parisiens préférés de vos amis</h2>
</div>

<div class="socialDiv">
  <div class="left">
    <a href="https://itunes.apple.com/fr/app/id1027312535">
      <%= image_tag "apple_logo.png" %>
      <button type="button" class="apple-button">Par ici !</button>
    </a>
  </div>
  <div class="right">
    <%= image_tag "android_logo.png" %>
    <form action='/' class="form-inline">
      <input type="email" class="form-control" placeholder="votre email">
      <input type="submit" value="A venir !" class="android-button">
    </form>
    <p>Pour être averti du lancement sur Androïd</p>
  </div>
</div>

<div class="facebook-connect">
  <%= render "devise/shared/links" %>
</div>
