
<div class= "text-center">
  <div class="brand-box">
    <a href=""><%= image_tag "identite-finale.svg" %></a>
    <h2>Les restos préférés de tes amis</h2>
  </div>

  <div class="sign-box">
    <a href="https://itunes.apple.com/fr/app/id1027312535"><%= image_tag "appstore-badge.svg" %></a>
  </div>
  <div class="facebook-connect">
    <%= render "devise/shared/links" %>
  </div>
</div>
