<div class="bloc-new clearfix">

  <% block.each do |name,ids|%>
      <div class="icon-and-label">
        <!-- icon -->
        <div class="icon-box">
          <%= render "restaurants/strengths_and_ambiences/#{name}.svg" %>
        </div>
        <!-- label -->
        <div class='title-label'>
          <%= name.capitalize.gsub(/_/," ").gsub(/&/, "and") %></h3>
        </div>
      </div>

  <% end %>
</div>
