<div id="card-box" class= "text-center">
  <%= link_to restaurant_path(restaurant.id), class: "link" do %>
    <h2><%= restaurant.name %></h2>
    <p><%= restaurant.food.name %></p>
    <% if restaurant.restaurant_pictures.count > 0 %>
      <%= image_tag restaurant.restaurant_pictures.first.picture.url %>
    <% end %>
  <% end %>
</div>
