<div id="image_field" style="background: url(<%= image_path(picture) %>); background-repeat:no-repeat; background-size:cover; background-position:50% 50%">
  <div id="text-left">
    <h1><%= restaurant.name %></h1>
    <h3><%= restaurant.food.name %></h3>
  </div>
  <div id="text-right", class="icon-box">
    <%= render "restaurants/price_ranges/level_#{restaurant.price_range}.svg" %>
  </div>
</div>
