<div id="image_field" style="background: url(<%= image_path(picture) %>); background-repeat:no-repeat; background-size:cover; background-position:50% 50%">
  <div id="text-left">
    <h1><%= restaurant.name %></h1>
    <h3><%= restaurant.food.name %></h3>
  </div>
  <!-- au cas ou il y ait un wish sur un resto sur lequel pas encore de reco -->
  <% if restaurant.price_range %>
    <div id="text-right", class="icon-box">
      <%= render "restaurants/price_ranges/level_#{restaurant.price_range}.svg" %>
    </div>
  <% end %>
</div>
