<div class='container'>
  <%= image_tag 'logo_red.png', class: 'logo' %>
  <h1>Tu es bien connecté avec Facebook. Pour accéder à l'application, appuie sur le bouton retour en haut à gauche de ton écran</h1>
</div>