<div class='container'>
  <%= image_tag 'logo_red.png', class: 'logo' %>
  <% if @facebook_link %>
    <h1>Ton compte est désormais bien lié avec Facebook. Tu peux quitter cet écran en appuyant sur le bouton retour en haut à gauche de ton écran</h1>
  <% else %>
    <h1>Tu es bien connecté avec Facebook. Pour accéder à l'application, appuie sur le bouton retour en haut à gauche de ton écran</h1>
  <% end %>
</div>