/* -------------------------------------
 * You killer form SASS module
 * ------------------------------------- */

 .form-size {
  width : 80%;
  margin: 50px auto;
  padding: 40px 20px;
  background-color: white;
  border-radius: 5px;
 }
